
body{
    background-color: #1b1a24;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}    

.assignment {
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#BF8339;
    border-radius:5px;
    box-shadow: 5px 8px #401201;
}



.assignment img {
    width:200px;
    border: 2px solid #8C4D3F;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    color: white;
 
    
}

